<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Entrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-img src="assets/icon/favicon.png"></ion-img>
  <ion-title class="welcome">Bienvenido!!</ion-title>
  <form (ngSubmit)="login()" #loginForm="ngForm">
    <ion-list>
      <ion-item>
        <ion-icon name="mail" slot="start"></ion-icon>
        <ion-input type="email" name="email" required placeholder="Email" [(ngModel)]="auth.email"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" #emailModel="ngModel"></ion-input>
      </ion-item>
      <ion-text style="color: brown; font-size: 12px;"
        *ngIf="emailModel.errors && emailModel.errors.required && emailModel.touched">Email es requerido</ion-text>
      <ion-text style="color: brown; font-size: 12px;"
        *ngIf="emailModel.errors && emailModel.errors.pattern && emailModel.touched">Email incorrecto</ion-text>
      <ion-item>
        <ion-input #passwordEyeRegister="ngModel" name="password" required placeholder="Contraseña"
          [type]="passwordTypeInput" [(ngModel)]="auth.password" clearOnEdit="false">
        </ion-input>
        <ion-icon [name]="(passwordTypeInput === 'text')?'eye-off':'eye'" (click)="togglePasswordMode()" slot="end">
        </ion-icon>
        <ion-icon name="key" slot="start"></ion-icon>
      </ion-item>
      <ion-text style="color: brown; font-size: 12px;"
        *ngIf="passwordEyeRegister.errors && passwordEyeRegister.errors.required && passwordEyeRegister.touched">
        Contraseña es requerida</ion-text>

    </ion-list>
    <ion-row class="botones">
      <ion-col>
        <ion-button type="submit" color="primary" expand="block" [disabled]="loginForm.invalid">
          <ion-icon name="log-in" slot="start"></ion-icon>
          Entrar
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="tertiary" expand="block" [routerDirection]="'root'" [routerLink]="['/auth/register']">
          <ion-icon name="create-sharp"></ion-icon>
          Registrarse
        </ion-button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>
