<ion-card *ngFor="let item of partidosPlantilla" >
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-thumbnail style="width: 100%;">
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </ion-thumbnail>
      </ion-col>
      <ion-col>
        <ion-thumbnail style="width: 100%;">
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </ion-thumbnail>
      </ion-col>
      <ion-col>
        <ion-thumbnail style="width: 100%;">
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </ion-thumbnail>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card-title>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </ion-card-title>
        </ion-col>
        <ion-col>
          <ion-card-title>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </ion-card-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </ion-col>
        <ion-col>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </ion-col>
        <ion-col>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </ion-col>
        <ion-col>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </ion-col>
        <ion-col>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
