label {
    color: #f98168;
}
ion-input {
    font-size: 18px;
}

mgl-map {
    padding: 10px;
    height: 70%;
    width: 100%;
}

form {
    mgl-map {
        padding: 10px;
        height: 70%;
        width: 100%;
    }
}


ion-text {
    color: brown;
    margin-left: 30px;
    font-size: 12px;
  }
  