<ion-card>
  <ng-container>
    <ion-grid>
      <ion-row>
        <ion-col>
          <img [src]="partido.equipo_local.escudo">
        </ion-col>
        <ion-col>
          <img src="assets/images/vs.png" class="vs" />
        </ion-col>
        <ion-col>
          <img [src]="partido.equipo_visitante.escudo">
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card-title style="text-align: center;">{{partido.equipo_local.nombre}}</ion-card-title>
          </ion-col>
          <ion-col>
            <ion-card-title  style="text-align: center;">{{partido.equipo_visitante.nombre}}</ion-card-title>
          </ion-col>
        </ion-row>

      </ion-grid>

    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-text>Fecha del encuentro:</ion-text>
          </ion-col>
          <ion-col>
            <ion-text><b [innerText]="partido.fecha_encuentro | fecha"></b></ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text>Lugar del encuentro:</ion-text>
          </ion-col>
          <ion-col>
            <ion-text><b>{{partido.lugar_encuentro}}</b></ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text>Hora:</ion-text>
          </ion-col>
          <ion-col>
            <ion-text><b [innerText]="partido.fecha_encuentro | hora"></b></ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text>Categoria:</ion-text>
          </ion-col>
          <ion-col>
            <ion-text><b>{{partido.categoria}}</b></ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text>Jornada:</ion-text>
          </ion-col>
          <ion-col>
            <ion-text><b>{{partido.jornada}}</b></ion-text>
          </ion-col>
        </ion-row>
        <ion-row style="margin-bottom: 5px;">
          <ion-col>
            <ion-text>Estado:</ion-text>
          </ion-col>
          <ion-col>
            <ion-text><b [innerText]="partido.fecha_modificacion ? 'Disputado': 'Sin Disputar'"></b></ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="10">
            <ngb-accordion #acc="ngbAccordion">
              <ngb-panel title="Árbitros">
                <ng-template ngbPanelContent>
                  <ion-grid>
                    <ion-row>
                      <ion-col class="ion-align-self-center">
                        <ion-text>Árbitro Principal:</ion-text>
                      </ion-col>
                      <ion-col>
                        <ion-row>
                          <ion-col>
                            <ion-thumbnail>
                              <img [src]="partido.arbitro_principal.foto" />
                            </ion-thumbnail>
                          </ion-col>
                          <ion-col>
                            <ion-card-subtitle><b>{{partido.arbitro_principal.nombre_completo | apellidoNombre}}</b></ion-card-subtitle>
                          </ion-col>
                        </ion-row>
                      </ion-col>
                    </ion-row>
                    <ion-row *ngIf="partido.arbitro_secundario">
                      <ion-col class="ion-align-self-center">Árbitro Secundario:</ion-col>
                      <ion-col>
                        <ion-row>
                          <ion-col>
                            <ion-thumbnail>
                              <img [src]="partido.arbitro_secundario.foto" />
                            </ion-thumbnail>
                          </ion-col>
                          <ion-col>
                            <ion-card-subtitle><b>{{partido.arbitro_secundario.nombre_completo | apellidoNombre}}</b></ion-card-subtitle>
                          </ion-col>
                        </ion-row>

                      </ion-col>
                    </ion-row>
                    <ion-row *ngIf="partido.cronometrador">
                      <ion-col class="ion-align-self-center">Asistente:</ion-col>
                      <ion-col>
                        <ion-row>
                          <ion-col>
                            <ion-thumbnail>
                              <img [src]="partido.cronometrador.foto" />
                            </ion-thumbnail>
                          </ion-col>
                          <ion-col>
                            <ion-card-subtitle><b>{{partido.cronometrador.nombre_completo | apellidoNombre}}</b></ion-card-subtitle>
                          </ion-col>
                        </ion-row>

                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
          </ion-col>
          <ion-col size="2" class="ion-align-self-center">
            <ion-button fill="clear" color="dark" (click)="showOptions()">
              <ion-icon size="large" name="menu"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>


    </ion-card-content>
  </ng-container>

</ion-card>
