<ng-container *ngIf="data">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="equipos"></ion-back-button>
      </ion-buttons>
      <ion-title>{{equipo.nombre}}</ion-title>
    </ion-toolbar>
  </ion-header>
</ng-container>
<ng-container *ngIf="!data">
  <app-detalle-partido-skeleton></app-detalle-partido-skeleton>
</ng-container>

<ion-content>
  <app-equipo-card [equipo]="equipo"></app-equipo-card>
  <ion-segment [(ngModel)]="type">
    <ion-segment-button value="partidos">
      <ion-label>Partidos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="jugadores">
      <ion-label>Jugadores</ion-label>
    </ion-segment-button>
    <ion-segment-button value="staff">
      <ion-label>Staff</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="type">
    <div *ngSwitchCase="'partidos'">
      <ion-list>
        <app-partido-card [partido]="partido" *ngFor="let partido of partidosParticipa"></app-partido-card>
      </ion-list>
    </div>
    <div *ngSwitchCase="'jugadores'">
      <ion-list>
        <app-miembro-equipo-card [miembro]="jugador" *ngFor="let jugador of jugadores" [idEquipo]="equipo._id" (delete)="actualizarBorrado($event)"></app-miembro-equipo-card>
      </ion-list>
    </div>
    <div *ngSwitchCase="'staff'">
      <ion-list>
        <app-miembro-equipo-card [miembro]="staff" [idEquipo]="equipo._id" *ngFor="let staff of staffs" (delete)="actualizarBorrado($event)"></app-miembro-equipo-card>
      </ion-list>
    </div>
   
  </div>
</ion-content>