<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment (ionChange)="segmentChanged($event)" value="locales">
    <ion-segment-button value="locales">
      <ion-label>Locales</ion-label>
    </ion-segment-button>
    <ion-segment-button value="visitantes">
      <ion-label>Visitantes</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list>

    <div *ngIf="mostrandoLocales; then locales else visitantes"></div>
  </ion-list>
</ion-content>
<ng-template #locales>
  <div *ngFor="let local of partido.equipo_local.miembros">
    <app-miembro-equipo-card [miembro]="local">
    </app-miembro-equipo-card>
  </div>

</ng-template>

<ng-template #visitantes>
  <div *ngFor="let visitante of partido.equipo_visitante.miembros">
    <app-miembro-equipo-card [miembro]="visitantes">
    </app-miembro-equipo-card>
  </div>
</ng-template>
