<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{miembro.rol}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="contenido">
  <form (ngSubmit)="save()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-title>Goles</ion-title>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-range min="0" max="15" pin name="numgoles" [(ngModel)]="goles" (ionChange)="addRowGoles()"></ion-range>
        </ion-col>
      </ion-row>
      <ion-card *ngIf="hayGoles">
        <ion-card-content>
          <ion-grid>
            <ion-row class="ion-align-items-center">
              <ion-col>
                <ion-text>
                  Nº
                </ion-text>
              </ion-col>
              <ion-col>
                <ion-icon name="time-outline"></ion-icon>
              </ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center" *ngFor="let gol of golesArray; let i=index ">
              <ion-col>
                <ion-text>
                  {{i+1}}
                </ion-text>
              </ion-col>
              <ion-col>
                <ion-input type="number" name="{{'gol'+i}}" [(ngModel)]="gol.minuto" [value]="gol.minuto"></ion-input>
              </ion-col>
            </ion-row>
          </ion-grid>

        </ion-card-content>
      </ion-card>

      <ion-row>
        <ion-col>
          <ion-title>Amarilla</ion-title>
        </ion-col>
      </ion-row>
      <ion-card>
        <ion-card-content>
          <ion-row>
            <ion-col size="3">
              <ion-icon name="time-outline"></ion-icon>
            </ion-col>
            <ion-col>Motivo</ion-col>

          </ion-row>
          <ion-row>
            <ion-col size="3">
              <ion-input name="minamarilla" type="number" [(ngModel)]="sancionAmarilla.minuto"></ion-input>
            </ion-col>
            <ion-col>
              <ion-input name="amarilla" type="text" [(ngModel)]="sancionAmarilla.motivo"></ion-input>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
      <ion-row>
        <ion-col>
          <ion-title>Segunda Amarilla</ion-title>
        </ion-col>
      </ion-row>
      <ion-card>
        <ion-card-content>
          <ion-row>
            <ion-col size="3">
              <ion-icon name="time-outline"></ion-icon>
            </ion-col>
            <ion-col>Motivo</ion-col>

          </ion-row>
          <ion-row>
            <ion-col size="3">
              <ion-input name="min2amarilla" type="number" [(ngModel)]="sancionSegunAmarilla.minuto"></ion-input>
            </ion-col>
            <ion-col>
              <ion-input name="2amarilla" type="text" [(ngModel)]="sancionSegunAmarilla.motivo"></ion-input>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>

      <ion-row>
        <ion-col>
          <ion-title>Roja</ion-title>
        </ion-col>
      </ion-row>
      <ion-card>
        <ion-card-content>
          <ion-row>
            <ion-col size="3">
              <ion-icon name="time-outline"></ion-icon>
            </ion-col>
            <ion-col>Motivo</ion-col>

          </ion-row>
          <ion-row>
            <ion-col size="3">
              <ion-input name="minroja" type="number" [(ngModel)]="sancionroja.minuto"></ion-input>
            </ion-col>
            <ion-col>
              <ion-input name="roja" type="text" [(ngModel)]="sancionroja.motivo"></ion-input>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>

      <ion-row style="margin-top: 40px;">
        <ion-col>
          <ion-button type="submit" color="primary" expand="block">
            <ion-icon name="checkmark-circle-outline" slot="start"></ion-icon>
            Guardar
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="danger" expand="block" (click)="cancel()">
            <ion-icon name="trash" slot="start"></ion-icon>
            Cancelar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>
