<ion-item-sliding id="item100">
  <ion-item disabled>
    <ion-thumbnail slot="start">
      <img [src]="miembro.foto">
    </ion-thumbnail>
    <ion-label>
      <h2><b>{{miembro.nombre_completo | apellidoNombre}}</b></h2>
    </ion-label>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label>
            DORSAL
          </ion-label>
        </ion-col>
        <ion-col>
          <ion-label>
            TA
          </ion-label>
        </ion-col>
        <ion-col>
          <ion-label>
            TR
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item-options side="start">
    <ion-item-option>
      <ion-icon slot="icon-only" name="heart"></ion-icon>
    </ion-item-option>
  </ion-item-options>

  <ion-item-options side="end">
    <ion-item-option color="danger">
      <ion-icon slot="icon-only" name="trash"></ion-icon>
    </ion-item-option>
    <ion-item-option>
      <ion-icon slot="icon-only" name="star"></ion-icon>
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>
