<ion-item-sliding id="item100">
  <ion-item [disabled]="deshabilitado" #item>
    <ion-thumbnail slot="start">
      <img [src]="miembro.foto" />
    </ion-thumbnail>
    <ion-label>
      <h2>
        <b>{{ miembro.nombre_completo | apellidoNombre }}</b>
      </h2>
      <h3 *ngIf="
          miembro.rol === 'ENTRENADOR' ||
          miembro.rol === 'DELEGADO' ||
          miembro.rol === 'ENCARGADO_MATERIAL' ||
          miembro.rol === 'PREPARADOR_FISICO'
        ">
        {{ miembro.rol }}
      </h3>
    </ion-label>
    <ion-grid>
      <ion-row>
        <ion-col *ngIf="miembro.rol=== 'JUGADOR'">
          <ion-thumbnail>
            <img src="assets/images/camiseta-de-futbol.png" />
          </ion-thumbnail>

        </ion-col>
        <ion-col class="ion-align-self-center" *ngIf="miembro.rol=== 'JUGADOR'">
          <ion-label *ngIf="!miembro.dorsal"> --- </ion-label>
          <ion-label *ngIf="miembro.dorsal"> {{miembro.dorsal}} </ion-label>
        </ion-col>
        <ion-col *ngIf="miembro.capitan">
          <ion-label>
            <ion-thumbnail>
              <img src="assets/images/capitan-jugador.png" />
            </ion-thumbnail>
          </ion-label>
        </ion-col>
        <ion-col *ngIf="miembro.portero">
          <ion-label>
            <ion-thumbnail>
              <img src="assets/images/portero-jugador.png" />
            </ion-thumbnail>
          </ion-label>
        </ion-col>
        <ion-col *ngIf="verTarjetaAma">
          <ion-label>
            <ion-thumbnail>
              <img src="assets/images/tarjeta-amarilla.png" />
            </ion-thumbnail>
          </ion-label>
        </ion-col>
        <ion-col *ngIf="verTarjeta2Ama">
          <ion-label >
            <ion-thumbnail>
              <img src="assets/images/doble-amarilla.png" />
            </ion-thumbnail>
          </ion-label>
        </ion-col>
        <ion-col *ngIf="verTarjetaRoja">
          <ion-label>
            <ion-thumbnail>
              <img src="assets/images/tarjeta-roja.png" />
            </ion-thumbnail>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item-options side="end">
    <ion-item-option color="secondary" (click)="openChangeInfo()">
      <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
    </ion-item-option>
    <ion-item-option (click)="openAddDataMiembro()">
      <ion-icon slot="icon-only" name="create-outline"></ion-icon>
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>
