<ion-card *ngFor="let numeri of equiposPlantilla">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-thumbnail style="width: 100%;">
          <ion-skeleton-text animated style="width: 100%; height: 100%;"></ion-skeleton-text>
        </ion-thumbnail>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card-header>
    <ion-card-title ><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></ion-card-title>
    <ion-card-subtitle><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></ion-col>
        <ion-col><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></ion-col>
      </ion-row>
      <ion-row>
        <ion-col><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></ion-col>
        <ion-col><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>